header{
  background: url("/_assets/_front/_images/bg/bg_header.png") left top repeat transparent;

  @media (max-width: 414px) {
    .uk-margin-large-bottom {
      margin-bottom: 25px!important;
    }
  }

  .logo-container{
    margin: 25px 0;
  }

  .logo-link{
    @media (max-width: 414px) {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .header-links {
    margin-top: 50px;
    font-size: 20px;
    line-height: 23px;
    @media (max-width: 768px) {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}