section#top_menu{
  > .uk-container-center{
    background: $main_color;
  }
  .uk-navbar{
    background: none;
    text-align: center;
  }
  ul.uk-navbar-nav{
    padding: 10px 0;
    float: none;

    > li{
      margin-right: 25px;
      display: inline-block;
      float: none;

      &:last-of-type{
        margin-right: 0;
      }
      @media (max-width: 425px) {
        margin-right: 0;
        display: block;
        width: 100%;
      }

      a{
        color: white;
        font-size: 19px;
        font-weight: 500;
        border-radius: 25px;
      }
      &.uk-active > a{
        background-color: white;
        color: $main_color;
      }

      &:hover, &:focus{
        a{
          background-color: white;
          color: $main_color;
        }
      }
    }
  }

  @media (max-width: 425px) {
    .uk-container.uk-container-center {
      padding: 0;
    }
    button.uk-button {
      font-size: 25px;
      min-height: 49px;
    }
  }
}