language: php

php:
  - 7.1

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer update --prefer-source
  - travis_retry composer require fanamurov/larrock-menu:^1.0 --prefer-source
  - travis_retry composer require fanamurov/larrock-users:^1.0 --prefer-source
  - travis_retry composer require fanamurov/larrock-pages:^1.0 --prefer-source
  - travis_retry composer require fanamurov/larrock-blocks:^1.0 --prefer-source
  - travis_retry composer require fanamurov/larrock-contact:^1.0 --prefer-source
  - travis_retry composer require fanamurov/larrock-admin-seo:^1.0 --prefer-source
  - travis_retry composer require fanamurov/larrock-search:^1.0 --prefer-source

script:
  - php vendor/bin/phpunit -c phpunit.xml

after_success:
  - travis_retry php vendor/bin/coveralls