footer{
  margin-top: 55px;
  > .uk-container-center{
    background: url("/_assets/_front/_images/bg/bg_footer.png") right top repeat transparent;
    color: black;
    min-height: 175px;
  }
  .larrock-block-tekst_v_podvale{
    padding-top: 55px;
    @media (max-width: 768px) {
      padding-top: 40px;
    }
  }

  a {
    color: black;
  }

  .uk-h2{
    color: black;
    font-size: 32px;
    line-height: 38px;
  }

  .footer-copyright{
    padding-top: 15px;
    padding-right: 50px;
    margin-bottom: 25px;
    @media (max-width: 425px) {
      padding-right: 0;
    }

    a {
      font-size: 14px;
      font-weight: 300;
      color: black;
    }
  }
  @media (max-width: 425px) {
    .uk-push-1-2.uk-width-1-2{
      left: 0;
      width: 100%;
    }
  }
}