section#right_colomn {
  position: relative;
  padding-left: 25px;

  @media (max-width: 881px) {
    display: none;
  }

  &:before{
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 35px;
    right: 0;
    content: "";
    background: url("/_assets/_front/_images/bg/bg_block_right.png") repeat-y transparent left top;
    margin-top: 14px;
  }

  > div{
    height: 100%;

    > div{
      margin-top: 14px;
      margin-left: 0;
      position: relative;
      z-index: 4;
    }
  }

  .modules-list > *{
    margin-bottom: 65px;
    margin-left: 15px;
    margin-right: 15px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .larrock-block-obyavlenie1,
  .larrock-block-obyavlenie2{
    font-family: 'Roboto Condensed', Arial, sans-serif;
    color: $color_link;
    font-style: italic;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }

  .larrock-block-obyavlenie1{
    margin-bottom: 35px;
  }
}