html, .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
  font-family: Open-Sans, Arial, sans-serif;
}

label{
  .uk-label{
    color: #232323;
    white-space: normal;
    text-transform: none;
    padding: 0;
    background: none;
  }
}

.uk-label{
  text-transform: none;
}

.uk-alert.uk-alert-level-R1 {
  background: #939800;
  color: white;
}
.uk-alert.uk-alert-level-R2 {
  background: #b9bf00;
  color: white;
}
.uk-alert.uk-alert-level-R3 {
  background: #00bfb1;
  color: white;
}
.uk-alert.uk-alert-level-R4 {
  background: #bfbfbf;
  color: white;
}

.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 5px 3px 0;
  padding: 2px 9px;
  background: #f6faff;
  color: #424242;
  border: 1px dotted #d2d2d2;
  font-size: 1rem;
  a.remove {
    background: #f7f7f7;
    font-size: 14px;
  }
}

.selectize-input{
  line-height: 26px;
  background-color: #fff;
  border: 1px solid #e5e5e5 !important;
  border-radius: 0;
}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
  height: 50px;
  padding: 0 12px;
  text-transform: none;
  font-size: 1rem;

  span.count {
    color: #656262;
    font-size: 0.8rem;
    margin-left: 4px;
  }
}
.uk-navbar-dropdown{
  span.count {
    color: #656262;
    font-size: 0.8rem;
    margin-left: 4px;
  }
}

.uk-form-row {
  margin-bottom: 30px;
}
.uk-form-row-small {
  margin-bottom: 13px;
}

.uk-breadcrumb{
  margin-bottom: 0;
  display: inline-flex;
}
.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
  margin: 0 10px;
  font-size: 1.3rem;
}
.uk-breadcrumb>*>* {
  font-size: 1.7rem;
  color: #1e87f0;
  font-weight: 300;
}
.uk-breadcrumb>:last-child>*{
  color: #000;
  font-size: 1.7rem;
}
.uk-breadcrumb-more{
  margin-top: -9px;
}

.uk-logo {
  color: #353535;
  font-size: 1.5rem;
}

.uk-navbar-item{
  .selectize-input {
    margin-top: 7px;
  }
}
.uk-navbar-nav{
  .uk-margin-small-right{
    margin-right: 6px!important;
  }
}

html{
  background: #f7f7f7;
}

.ibox-content{
  background: #fdfdfd;
  padding: 25px 30px;
  box-shadow: 0 0 4px 0 gainsboro;
}

.uk-navbar-container{
  background: #fdfdfd;
  box-shadow: 0 0 4px 0 #dcdcdc;
}

.uk-button{
  box-shadow: 0 1px 0 0 rgba(0,0,0,.12), 0 5px 10px -3px rgba(0,0,0,.2);
  transition: .2s all linear;
  text-transform: none;
  &:hover, &:focus{
    box-shadow: 0 1px 0 0 rgba(0,0,0,.12), 0 3px 10px -3px rgba(0,0,0,.2);
    transition: .2s all linear;
  }
}

.mce-panel, .mce-menubar {
  border: none !important;
  background-color: transparent !important;
}
.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
  background: #f7f7f7 !important;
}
.mce-container-body .mce-btn{
  background: transparent !important;
}

div#choose, div#choose_file {
  cursor: pointer;
  background: #e8e8e8;
  padding: 15px 30px;
  margin-bottom: 35px;
  margin-top: 15px;
  border: 4px dotted #ffffff;
  text-align: center;
  &.dragged{
    background: #e5ffd2;
    border: 4px dotted #b7acac;
  }
}

a.uk-label{
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #0f6ecd;
  }
}

.dashboard-page{
  .uk-button{
    box-shadow: none;
  }
  .panel-p-title{
    margin-left: 20px;
  }
}

.plugins{
  background: #f7f7f7;
  padding: 10px 15px;
  margin-top: 0 !important;
}
.uk-panel-scrollable{
  border: none;
}

img.all-width {
  max-width: 100%;
  width: 100%;
}

#uploadedImages, #uploadedFiles{
  label.uk-form-label {
    color: grey;
    font-style: italic;
    margin-bottom: 3px;
  }
}

.uk-switcher.uk-panel.uk-panel-scrollable{
  min-height: 1000px;
}

.plugin-image{
  width: 85px;
  max-width: 85px;
}

.uk-button-large {
  padding: 0 16px;
  line-height: 43px;
  font-size: 1.1rem;
}

.selectize-input {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.selectize-dropdown {
  min-width: 400px;
  font-size: .9rem;

  [data-selectable], .optgroup-header {
    padding: 7px 15px;
  }

  .selectize-dropdown-content{
    max-height: 450px;
    > div{
      border-bottom: 1px solid #f3f3f3;
    }
  }

  span.caption {
    display: block;
    font-style: italic;
    color: grey;
    font-size: 0.85rem;
  }
  span.uk-label {
    width: 100%;
    background: none;
    padding: 0;
    font-weight: 600;
    color: #1e87f0;
    font-size: 0.85rem;
  }
}


.uk-button.uk-button-outline:not(:hover){
  background: 0 0;
  color: #9c9c9c;
  border: 1px solid #d2d2d2;
}
.uk-alert {
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  border: 1px solid #e4e4e4;
}

[class*=uk-navbar-dropdown-bottom] {
  margin-top: 0;
  padding: 10px 18px;
}

.uk-navbar-dropdown-nav > li {
  border-bottom: 1px solid #eaeaea;
  padding: 5px 0;
  transition: all .2s linear;
  &:last-of-type, &.uk-nav-header{
    border-bottom: none;
  }
  a{
    color: black;
    transition: all .2s linear;
  }
  &:hover, &:focus{
    &:not(.uk-nav-header){
      background: #f1f1f1;
      transition: all .2s linear;
      a{
        padding-left: 10px;
        transition: all .2s linear;
      }
    }
  }
}
.uk-navbar-nav>li{
  >a{
    color: black;
  }
}

.uk-first-column{
  .uk-form-stacked .uk-form-label {
    font-size: 1rem;
    font-style: italic;
    color: grey;
  }
}

.tr-massiveAction{
  td{
    display: none;
  }
}
.actionSelect{
  padding: 4px 9px;
  transition: all .2s linear;
  cursor: pointer;
  &.uk-active{
    background: #1e87f0;
    color: white;
    padding: 4px 9px;
    transition: all .4s linear;
  }
  > img{
    border-radius: 50%;
  }
}

.uk-alert-success {
  background: #00a268;
  color: #ffffff;
}

a.link-to-front {
  font-size: 14px;
}

.uk-table{
  th{
    padding: 6px 12px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #999;
  }
  td {
    padding: 11px 10px;
    vertical-align: top;
  }
}

.uk-pagination>*{
  padding-left: 5px;
}

.uk-button-success{
  background-color: #289736;
  color: #fff;
  border: 1px solid transparent;
  &:hover, &:focus{
    background-color: #258831;
  }
}

.cart-tovar{
  h4{
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

.uk-form-label {
  color: #6f6f6f;
}

.uk-accordion-title.uk-h2{
  font-size: 1.55rem;
}

h2 small{
  font-weight: 300;
  font-size: 1.3rem;
}

.orderItem .uk-width-expand h2{
  font-size: 1.7rem;
}

.uk-notification {
  border: 3px solid #ffffff;

  .uk-notification-message{
    font-size: 1rem !important;
    margin-bottom: 0 !important;
    &.uk-notification-message-info{
      background: #59d270;
      color: white;
    }
  }
}

.uk-dropdown{
  padding: 7px 20px;
  margin-bottom: 0 !important;
  .uk-nav-default>li>a{
    color: black;
    &:hover, &:focus{
      color: #2a2a2a;
    }
  }
}

.uk-tab::before{
  border-color: #f7f7f7;
}
.uk-tab>li>a{
  padding: 10px 26px;
  font-weight: 500;
  color: #1e87f0;
}
.uk-tab>.uk-active>a {
  background: #f7f7f7;
  font-weight: 600;
  border: none;
  color: black;
}

.main_tabs_header{
  margin-bottom: 0;
  margin-top: 40px;
}

.main_tabs{
  background: #f7f7f7;
  padding: 25px 20px;
}

@media (max-width: 768px) {
  .uk-navbar-dropdown{
    display: block;
    position: relative;
    width: auto;
    box-shadow: none;
    padding: 0;
    background: transparent;
    color: white;
    a{
      color: white;
    }
    .uk-navbar-dropdown-nav>li{
      border: none;
    }
    .uk-navbar-dropdown-nav>li a{
      color: white;
    }
    .uk-navbar-dropdown-nav .uk-nav-header,
    .uk-navbar-dropdown span.count,
    .uk-navbar-item span.count,
    .uk-navbar-nav>li>a span.count,
    .uk-navbar-toggle span.count{
      color: white;
    }
  }
}