.dashboard-page{
  .uk-panel{
    border: 1px solid #e8e8e8;
    padding: 15px;
  }
  .packages-list{
    i.uk-icon-plug {
      font-size: 13px;
      padding-right: 3px;
    }
    .uk-panel{
      h3{
        padding-bottom: 3px;
        a{
          text-transform: capitalize;
          font-size: 16px;
        }
      }
      p i{
        font-size: 13px;
        line-height: 18px;
        display: inline-block;
      }
    }
  }
}

.fancybox-slide>.fancybox-loading {
  -webkit-animation: afancy .8s infinite linear !important;
  animation: afancy .8s infinite linear !important;
}

@-webkit-keyframes afancy {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes afancy {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.uk-progress-striped.uk-active .uk-progress-bar {
  -webkit-animation: auk 2s linear infinite !important;
  animation: auk 2s linear infinite !important;
}

@-webkit-keyframes auk {
  0% {
    background-position: 0 0
  }

  to {
    background-position: 30px 0
  }
}

@keyframes auk {
  0% {
    background-position: 0 0
  }

  to {
    background-position: 30px 0
  }
}

form.form-search-autocomplite .selectize-dropdown-content{
  > div {
    padding: 8px;
  }
  span.uk-label {
    display: block;
    font-size: 17px;
  }
  span.caption {
    display: block;
    font-style: italic;
    padding-top: 1px;
  }
}

.mce-btn.mce-active button, .mce-btn.mce-active:hover button, .mce-btn.mce-active i, .mce-btn.mce-active:hover i {
  color: #1d99c8 !important;
}

nav.uk-navbar{
  .uk-navbar-content{
    width: 250px;
    form#search-autocomplite-full{
      position: relative;
      top: -36px;

      .selectize-dropdown{
        width: 350px !important;
      }
    }
  }
}

.link_block_this, .pointer{
  cursor: pointer;
}

td.row-position{
  position: relative;
  i.uk-sortable-handle{
    position: absolute;
    top: 16px;
    right: 0;
  }
}

td.row-edit, td.row-delete{
  a.uk-button, .uk-button{
    height: 30px;
    line-height: 30px;
    font-size: 13px;
  }
}

.btn-group_switch_ajax{
  button{
    height: 30px;
  }
}

.plugin-position{
  position: relative;
  i.uk-sortable-handle{
    position: absolute;
    top: 0;
    right: 0;
  }
}

.actionSelect{
  position: relative;
  cursor: pointer;
  &:hover, &:focus{
    opacity: .7;
    transition: .4s all linear;
  }
  &.uk-icon-check:before{
    font-size: 30px;
    position: absolute;
    color: #1d99c8;
    background: rgba(255,255,255, .9);
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    text-align: center;
  }
}

.uk-table-striped tbody tr.uk-alert{
  background: #ebf7fd !important;
}

.sheet_content{
  .uk-alert-success{
    background: #f2fae3 !important;
  }
  .uk-alert-danger{
    background: red !important;
  }
  .uk-overflow-container{
    max-height: 1500px;
  }
}

.uk-navbar{
  background: #1d99c8;
  .badge{
    color: wheat;
    font-size: 11px;
    font-weight: 400;
  }
  a.uk-navbar-brand {
    background: #1d99c8;
    color: white;
    font-weight: 600;
    height: 45px;
    &:hover, &:focus{
      background: #0086be;
    }
  }
  .uk-navbar-nav>li>a{
    font-size: 15px;
    height: 45px;
    padding: 0 12px;
    line-height: 45px;
    color: white;
  }
  .uk-navbar-nav>li.uk-open>a,
  .uk-navbar-nav>li:hover>a,
  .uk-navbar-nav>li>a:focus{
    background: #0086be;
  }
  .uk-dropdown-navbar {
    margin-top: 0;
    background: #0086be;
    color: #fff;
    padding: 0 15px;
  }
  .uk-navbar-content{
    margin-top: 2px;
  }
}
.uk-nav-navbar>li>a{
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 8px 15px;
}
.uk-navbar-nav>li.uk-active>a{
  background: #0086be;
}
.uk-nav-navbar .uk-nav-header {
  color: wheat;
  padding: 0 15px;
}
.uk-dropdown{
  .uk-nav li.uk-active{
    background: #0079ac;
  }
}
li.uk-parent a[href='#'],
li.uk-nav-header{
  cursor: default;
}
li.uk-parent .uk-dropdown a[href='#']{
  cursor: pointer;
}

.uk-table-striped tbody tr:nth-of-type(odd) {
  background: #fbfbfb;
}

.uk-badge {
  padding: 1px 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

html{
  background: #f3f3f4;
  body{
    font-size: 14px;
    color: #676a6c;
  }
}
section#content{
  > .uk-alert-success{
    background: #e2f4c1;
    color: #6b6b6b;
  }
}
.uk-alert-danger {
  background: #ff3303;
  color: #ffffff;
}
#tab-content,
#tab-content-plugins{
  .uk-form-row+.uk-form-row {
    margin-top: 40px;
  }
}
#tabmain > .uk-grid > .uk-form-row:first-of-type{
  margin-top: 40px;
  &.uk-width-1-1{
    margin-top: 0;
  }
}
.ibox-content{
  background: white;
  padding: 25px;
}
.white-bg{
  background: white;
}
section#content{
  .uk-table{
    background: white;
  }
  .container-head{
    position: relative;
    .uk-h4{
      font-weight: 600;
    }
  }
  td.row-active {
    width: 101px;
  }
  a.uk-h4{
    font-size: 18px;
    color: #337ab7;
    border-bottom: 1px solid #eee;
  }
  a.link-to-front{
    color: #b78433;
    display: inline-block;
    padding-top: 6px;
    font-size: 13px;
  }
}
.add-panel{
  > a, > button{
    margin-right: 5px;
    @media (max-width: 667px) {
      width: 100%;
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
      &[href="#modal-help"]{
        display: none;
      }
    }
  }
  *:last-of-type{
    margin-right: 0;
  }
}
a.link-blank{
  display: inline-block;
  color: #b78433;
  &:hover, &:focus{
    color: #936a29;
  }
}

input[type=text]{
  height: 34px;
}
input[name=position] {
  max-width: 60px;
}
input.uk-form-controls{
  padding: 3px 8px;
  height: 26px;
  border-radius: 1px;
  transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
  font-size: 14px;
  color: #000;
}

.uk-table{
  >thead>tr>th {
    font-weight: 400;
    font-size: 13px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 17px;
    color: grey;
    padding-top: 14px;
    background: #fff;
  }
  >tbody>tr>td{
    border-top: 1px solid #e7eaec;
  }
  &.uk-form{
    input[type=text]{
      max-width: 60px;
    }
    input[name=title]{
      max-width: inherit;
    }
  }
}

.uk-icon-level-up{
  font-size: 22px;
}

.icon-color.uk-icon-picture-o{
  font-size: 46px;
  color: #e6e6e6;
  display: inline-block;
  padding-right: 5px;
  float: right;
}

.uk-button{
  &.uk-button-primary{
    background: #1d99c8;
    border-color: #1d99c8;
    color: #fff;
    &:hover, &:focus{
      background: #428bca;
      border-color: #428bca;
      color: #fff;
    }
    &.uk-button-outline{
      color: #1d99c8;
      background: transparent;
      text-shadow: none;
    }
  }
  &.uk-button-danger{
    background: #f1526b;
    border-color: #f1526b;
    color: #fff;

    &:hover, &:focus{
      background: #e2304c;
      border-color: #e2304c;
      color: #fff;
    }
    &.uk-button-outline{
      color: #f1526b;
      background: transparent;
      text-shadow: none;
    }
  }
}

#tab-content.uk-margin{
  margin-top: 0;
}

.uk-tab +.ibox-content{
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

.uk-form .selectize-input{
  padding: 0 7px;
  border-radius: 0;
  min-height: 32px;
  border: 1px solid #ddd;
}
select[name=category]+.selectize-control .selectize-input.full {
  background-color: #f3f3f4;
  width: 50%;
  @media (max-width: 667px) {
    width: 100%;
  }
}
.selectize-control.plugin-remove_button [data-value] {
  padding-top: 4px;
}
.selectize-control {
  height: 32px;
}

.uk-form.uk-form-stacked label,
.uk-form-stacked .uk-form-label{
  font-size: 13px;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}
.jFiler-input-dragDrop{
  width: 100%!important;
  padding-top: 40px !important;
  margin: 10px 0 50px 0!important;
}
#uploadedImages, #uploadedFiles{
  .uk-margin-bottom {
    margin-bottom: 10px!important;
  }
}

div[aria-label='Выделите текст в редакторе и нажмите для типографа']{
  background: wheat;
}

.uk-link, a, .uk-tab>li>a{
  color: #337ab7;
}

input[name=position], td.row-position{
  width: 60px;
}

.picker--opened .picker__holder{
  overflow: hidden;
  height: 310px;
}

.row-id{
  font-style: italic;
  color: grey;
}

.buttons-save{
  margin-bottom: 100px;
  @media (max-width: 667px) {
    margin-bottom: 25px;
  }
}

label{
  .uk-form-help-block{
    text-transform: lowercase;
  }
}

/** FileAPI **/
.js-fileapi-wrapper{
  background: #f3f3f3;
  text-align: center;
  padding: 50px 0;
  border: 2px dashed #dddddd;
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;

  .drag-n-drop-message{
    font-size: 14px;
    margin-top: 7px;
  }
}
.b-dropzone{
  background: rgba(128, 128, 128, 0.47);
  color: white;
  font-size: 18px;
  z-index: 1;

  .b-dropzone__txt{
    margin: 0 auto;
    text-align: center;
    border: 2px dashed #fff;
    padding: 20px;
    background: #e0e0e0;
    color: #797979;
  }
}

#uploadedImages,
#uploadedFiles{
  margin-top: 45px;
}

#uploadedFiles{
  .plugin-position label{
    text-align: left;
  }
}

li#tabimages{
  #images{
    > *{
      padding: 25px;
      opacity: .4;
    }
  }
}


textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a9a9a9 !important;
  font-style: italic;
}
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a9a9a9 !important;
  font-style: italic;
}
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a9a9a9 !important;
  font-style: italic;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a9a9a9 !important;
  font-style: italic;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a9a9a9 !important;
  font-style: italic;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a9a9a9 !important;
  font-style: italic;
}

.switch{
  display: inline-block;
  padding-bottom: 3px;
  width: 80px;
}
.switch_off{
  opacity: .7;
  &:hover,
  &:focus{
  opacity: 1;
  background-color: #c5c5c5;
  }
}
.edit_position_new input{
  width: 80px;
}
.ajax{
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dotted #0088cc;
  &:hover, &:focus{
  text-decoration: none;
  border-bottom: 1px dotted #005580;
  }
}
.mce-panel{
  border-top: 1px solid #ffffff!important;
  border-left: 1px solid #f3f3f4!important;
  border-right: 1px solid #f3f3f4!important;
  border-bottom: 1px solid #ffffff!important;
  background: #FAFAFA!important;
}
.mce-btn{
  background: #FAFAFA!important;
}
.typeahead { z-index: 1051;}

.upload-list-item{
  padding-bottom: 5px;
  font-size: 13px;
}
.highlighted {
  border: 4px solid gold !important;
}
.plug-title{
  padding-top: 10px;
  padding-right: 10px;
  display: inline-block;
}

.date,
input[name=date]{
  background: url("/_assets/_admin/_images/1450955636_office-15.png") no-repeat 10px center;
  padding-left: 34px;
  max-width: 180px;
}

.all-width{
  max-width: 100%;
}

.pointer{
  cursor: pointer;
}

.form-control.date[readonly]{
  cursor: pointer;
}

#uploadedFiles .uk-icon-file{
  font-size: 90px;
}

.uk-notify-message.uk-notify-message-danger{
  border: 1px dashed #d85030;
}
.uk-notify-message.uk-notify-message-info{
  background: #ebf7fd;
  color: #222222;
  border: 1px dashed #d5d4fd;
}
.uk-notify-message.uk-notify-message-success{
  border: 1px dashed #659f13;
}

.breadcrumb {
  display: inline;
  font-size: 21px;
  list-style: none;
  padding: 0;
  >li {
    display: inline-block;
  }
  >.active {
    color: #777;
  }
  h1{
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  h1, h2, h3, h4, h5{
    display: inline-block;
    margin-bottom: 0;
  }
  +p{
    margin: 0;
  }

  >li:after {
   padding: 0 5px;
   color: #ccc;
   content: "/\00a0";
  }
  >li.active:after {
    display: none;
  }
}

.auth-container{
  max-width: 600px;

  .background-blue{
    background: #428bca;
  }
  .text-container{
    padding-right: 25px;
    padding-bottom: 25px;
  }
  h1{
    color: white;
    background: #428bca;
    font-weight: 700;
    font-size: 54px;
    margin-top: 20px;
  }
  .logo-row{
    margin-top: 20px;
  }
  .uk-form-stacked .uk-form-label{
    font-weight: 400;
    font-size: 14px;
    color: white;
  }
  .checkbox{
    padding-top: 0;
    min-height: inherit;
    label{
      font-weight: 500;
    }
  }
  a.reset-password{
    color: #fff;
    padding-top: 12px;
    display: block;
    text-decoration: underline;
  }
}

.uk-offcanvas{
  .uk-offcanvas-bar{
    background: #1a8ab4;
    color: white;
    a{
      color: #fff;
      font-size: 17px;
      line-height: 26px;
    }
  }
  .uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom {
    position: relative;
    top: 0 !important;
    width: 100%;
  }
  > .uk-offcanvas-bar > .uk-nav > li{
    border-bottom: 1px solid #009cd6;
    &:last-of-type{
      border-bottom: none;
    }
  }
}

.uk-tab-responsive.uk-active.uk-open{
  .uk-nav-dropdown>li.uk-active>a{
    color: white;
  }
}
li.uk-tab-responsive.uk-active > a:after{
  content: "[...]";
  color: grey;
  display: inline-block;
}

tr.wizard_category{
  background: #d0f2ff;
}
.import_row .uk-table{
  border: none;
  margin-top: 5px;
  >tbody>tr>td{
    border: none;
  }
}
.uk-alert-level-R3{
  background: #f8fdeb;
}
.uk-alert-level-R2{
  background: #cff7ed;
}
.uk-alert-level-R1{
  background: #b4eff7;
}
.uk-alert-level-R0{
  background: #99d3f3;
}

@media (max-width: 667px) {
  #content.uk-margin-large-top{
    margin-top: 20px!important;
    padding: 0 10px !important;
  }
  form.cart-user-info{
    margin-top: 50px;
  }
  p.uk-h2 .text-muted{
    display: block;
  }
  .breadcrumb{
    margin-bottom: 15px;
    display: block;
    .uk-h2, h2 {
      font-size: 19px;
      line-height: 24px;
    }
    >li:after {
      padding: 0 0 0 5px;
      color: #ccc;
      content: "/\00a0";
      font-size: 17px;
    }
  }
  .uk-navbar-toggle {
    font-size: 21px;
    color: white;
    text-decoration: none;
    padding-top: 6px;
  }
}

body#clean_template{
  @media (max-width: 667px) {
    #content.uk-margin-large-top {
      margin-top: 0 !important;
      padding: 0 !important;
    }
  }
}

.mce-floatpanel .mce-foot button {
  font-size: inherit;
  line-height: inherit;
  color: black !important;
  background: blanchedalmond !important;
}

/*! UIkit 2.27.4 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */
/* ========================================================================
   Component: Progress
 ========================================================================== */
/*
 * 1. Clearing
 * 2. Vertical alignment if text is used
 */
.uk-progress {
  box-sizing: border-box;
  height: 20px;
  margin-bottom: 15px;
  background: #eee;
  /* 1 */
  overflow: hidden;
  /* 2 */
  line-height: 20px;
}
/*
 * Add margin if adjacent element
 */
* + .uk-progress {
  margin-top: 15px;
}
/* Sub-object: `uk-progress-bar`
 ========================================================================== */
/*
 * 1. Transition
 * 2. Needed for text
 */
.uk-progress-bar {
  width: 0;
  height: 100%;
  background: #00a8e6;
  float: left;
  /* 1 */
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  /* 2 */
  font-size: 12px;
  color: #fff;
  text-align: center;
}
/* Size modifiers
 ========================================================================== */
/* Mini */
.uk-progress-mini {
  height: 6px;
}
/* Small */
.uk-progress-small {
  height: 12px;
}
/* Color modifiers
 ========================================================================== */
.uk-progress-success .uk-progress-bar {
  background-color: #8cc14c;
}
.uk-progress-warning .uk-progress-bar {
  background-color: #faa732;
}
.uk-progress-danger .uk-progress-bar {
  background-color: #da314b;
}
/* Modifier: `uk-progress-striped`
 ========================================================================== */
.uk-progress-striped .uk-progress-bar {
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 30px 30px;
}
/*
 * Animation
 */
.uk-progress-striped.uk-active .uk-progress-bar {
  -webkit-animation: uk-progress-bar-stripes 2s linear infinite;
  animation: uk-progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes uk-progress-bar-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}
@keyframes uk-progress-bar-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}
/*! UIkit 2.27.4 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */
/* ========================================================================
   Component: Progress
 ========================================================================== */
/*
 * 1. Clearing
 * 2. Vertical alignment if text is used
 */
.uk-progress {
  box-sizing: border-box;
  height: 20px;
  margin-bottom: 15px;
  background: #f7f7f7;
  /* 1 */
  overflow: hidden;
  /* 2 */
  line-height: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07), inset 0 2px 2px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}
/*
 * Add margin if adjacent element
 */
* + .uk-progress {
  margin-top: 15px;
}
/* Sub-object: `uk-progress-bar`
 ========================================================================== */
/*
 * 1. Transition
 * 2. Needed for text
 */
.uk-progress-bar {
  width: 0;
  height: 100%;
  background: #009dd8;
  float: left;
  /* 1 */
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  /* 2 */
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-image: -webkit-linear-gradient(top, #00b4f5, #008dc5);
  background-image: linear-gradient(to bottom, #00b4f5, #008dc5);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/* Size modifiers
 ========================================================================== */
/* Mini */
.uk-progress-mini {
  height: 6px;
}
/* Small */
.uk-progress-small {
  height: 12px;
}
/* Color modifiers
 ========================================================================== */
.uk-progress-success .uk-progress-bar {
  background-color: #82bb42;
  background-image: -webkit-linear-gradient(top, #9fd256, #6fac34);
  background-image: linear-gradient(to bottom, #9fd256, #6fac34);
}
.uk-progress-warning .uk-progress-bar {
  background-color: #f9a124;
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
}
.uk-progress-danger .uk-progress-bar {
  background-color: #d32c46;
  background-image: -webkit-linear-gradient(top, #ee465a, #c11a39);
  background-image: linear-gradient(to bottom, #ee465a, #c11a39);
}
/* Modifier: `uk-progress-striped`
 ========================================================================== */
.uk-progress-striped .uk-progress-bar {
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 30px 30px;
}
/*
 * Animation
 */
.uk-progress-striped.uk-active .uk-progress-bar {
  -webkit-animation: uk-progress-bar-stripes 2s linear infinite;
  animation: uk-progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes uk-progress-bar-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}
@keyframes uk-progress-bar-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0;
  }
}
/* Size modifiers
     ========================================================================== */
.uk-progress-mini,
.uk-progress-small {
  border-radius: 500px;
}

/*! UIkit 2.27.4 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */
/* ========================================================================
   Component: Notify
 ========================================================================== */
/*
 * Message container for positioning
 */
.uk-notify {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1040;
  box-sizing: border-box;
  width: 350px;
}
/* Position modifiers
========================================================================== */
.uk-notify-top-right,
.uk-notify-bottom-right {
  left: auto;
  right: 10px;
}
.uk-notify-top-center,
.uk-notify-bottom-center {
  left: 50%;
  margin-left: -175px;
}
.uk-notify-bottom-left,
.uk-notify-bottom-right,
.uk-notify-bottom-center {
  top: auto;
  bottom: 10px;
}
/* Responsiveness
========================================================================== */
/* Phones portrait and smaller */
@media (max-width: 479px) {
  /*
     * Fit in small screen
     */
  .uk-notify {
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
  }
}
/* Sub-object: `uk-notify-message`
========================================================================== */
.uk-notify-message {
  position: relative;
  margin-bottom: 10px;
  padding: 15px;
  background: #444;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}
/* Close in notify
 ========================================================================== */
.uk-notify-message > .uk-close {
  visibility: hidden;
  float: right;
}
.uk-notify-message:hover > .uk-close {
  visibility: visible;
}
/* Modifier: `uk-notify-message-primary`
 ========================================================================== */
.uk-notify-message-primary {
  background: #ebf7fd;
  color: #2d7091;
}
/* Modifier: `uk-notify-message-success`
 ========================================================================== */
.uk-notify-message-success {
  background: #f2fae3;
  color: #659f13;
}
/* Modifier: `uk-notify-message-warning`
 ========================================================================== */
.uk-notify-message-warning {
  background: #fffceb;
  color: #e28327;
}
/* Modifier: `uk-notify-message-danger`
 ========================================================================== */
.uk-notify-message-danger {
  background: #fff1f0;
  color: #d85030;
}

.picker--opened .picker__holder {
  height: 100% !important;
}

@import "uikit-buttons-modify";