$color_link: #35029a;
$color_link_hover: #be1318;

$main_color: #35029a;

@mixin list-mart(){
  ul{
	padding-left: 0;
	list-style-type: none;
	li{
	  background: url('/_assets/_front/_images/ul-1.gif') no-repeat left 11px transparent;
	  padding-left: 15px;
	  position: relative;
	  left: -16px;
	  padding-bottom: 9px;
	  &:last-of-type {
		padding-bottom: 0;
	  }
	}
	> ul{
	  padding-left: 25px;
	  margin-bottom: 15px;
	  ul{
		padding-left: 25px;
	  }
	}
  }
}

@media (min-width: 1220px){
  .uk-container {
    max-width: 100%;
    padding: 0 35px;
  }
}
@media (min-width: 1346px){
  .uk-container {
    max-width: 1346px;
    padding: 0 35px;
  }
}

@media(min-width: 960px){
  .uk-width-8-11{
    width: 74%;
  }
  .uk-width-3-11{
    width: 26%;
  }
}
@media(max-width: 960px){
  .uk-width-8-11{
    width: 100%;
  }
  .uk-width-3-11{
    width: 100%;
  }
}

a.admin_edit {
  position: absolute;
  background: #cccccc;
  padding: 3px 5px;
  color: white;
  opacity: .8;
  top: -15px;
  left: 0;
  border: 1px dashed;
  z-index: 10;
  display: none;
  font-size: 14px !important;
  line-height: 17px !important;
}
.larrock-admin-block{
  position: relative;
  border: none;
  box-sizing: border-box;
  &:hover, &:focus{
    background-color: rgba(249, 129, 129, 0.3);
    border: 1px dashed white;
    a.admin_edit {
      display: block;
      opacity: 1;
    }
  }
}

a{
  color: $color_link;
  text-decoration: underline;
  &:hover, &:focus{
    color: $color_link_hover;
  }
}

.uk-form-stacked .uk-form-label{
  margin-bottom: 3px;
  color: rgba(0, 0, 0, .7);
}

.uk-alert{
  color: black;
  font-size: 15px;
  line-height: 22px;
  &.uk-alert-warning{
    background: #fffcb1;
  }
}

.pointer{
  cursor: pointer;
}

.label{
  font-size: 100%;
  font-weight: 500;
  padding: .2em 0.3em .3em;
}
.all-width{
  width: 100%;
  max-width: 100%;
}
.max-width{
  max-width: 100%;
}

html{
  font-family: 'Roboto', sans-serif;
  color: black;
  background: #324458;
}

h1, h2, h3, h4, h5, h6,
.uk-h1, .uk-h2, .uk-h3 , .uk-h4, .uk-h5, .uk-h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-weight: 500;
}

.h1 {
  font-size: 36px;
  line-height: 42px;
}
.h2 {
  font-size: 24px;
  line-height: 30px;
}
.h3 {
  font-size: 18px;
  line-height: 24px;
}
.h4 {
  font-size: 16px;
  line-height: 22px;
}
.h5 {
  font-size: 14px;
  line-height: 20px;
}
.h6 {
  font-size: 12px;
  line-height: 18px;
}

.uk-form-label {
  font-weight: 400;
}

a#toTop {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 64px;
  height: 64px;
  opacity: 0.4;
  background: url('/_assets/_front/_images/icon_up.png') no-repeat center top;
  z-index: 10;
}

/** ASIABUS **/
body{
  background: url('/_assets/_front/_images/bg/bg.jpg') repeat 600px 0 #eee3d9;
  transition: background-position .8s ease-out;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
}

section#main{
  > .uk-container-center{
    background: #ffffff;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.uk-container-center{
  background: #ffffff;
}

.uk-container.uk-container-center{
  padding: 0 70px;
  @media (max-width: 768px) {
    padding: 0 35px;
  }
}

.uslugi-list{
  a{
    display: block;
    color: $main_color;
    line-height: 25px;
    text-align: center;
    &.uk-text-center{
      font-weight: 500;
      max-width: 172px;
      margin: 10px auto 0 auto;
    }
  }
}

.larrock-block-blok_nad_kartoy{
  p{
    font-family: Roboto Condensed,sans-serif;
    box-sizing: border-box;
    color: $main_color;
    display: block;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    @media (max-width: 414px){
      font-size: 33px;
      line-height: 45px;
    }
  }
}

.uk-container.no-space{
  padding: 0;
}

section#map{
  .uk-container.no-space{
    padding-bottom: 55px;
    background: #F6F6F6;
    @media (max-width: 414px){
      padding-bottom: 0;
    }
  }
}

.uk-container.uk-container-center.devider-container{
  padding: 0;
}

.devider {
  content: '';
  background: url('/_assets/_front/_images/bg/bg_header_shadow_menu.png') repeat-x bottom right #ffffff;
  height: 36px;
  display: block;
  width: 100%;
}

.one-coloumn-template{
  h1{
    font-weight: 800;
    font-size: 37px;
    color: #464646;
  }
}

.page-kontakty{
  p{
    line-height: 35px;
  }
}

.page-zapis-na-obsluzhivanie{
  p.uk-h3{
    padding-bottom: 25px;
    margin-top: 50px;
    font-size: 30px;
  }
}

#form-zapis{
  &.uk-form-horizontal{
    .uk-form-label {
      font-size: 15px;
      line-height: 24px;
      width: 38%;
      color: grey;

      @media (max-width: 768px) {
        width: 100%;
      }

      &.agree-label {
        width: 100%;
        text-align: right;
      }
    }
    input, select{
      width: 58%;
      margin-left: 4%;
      font-size: 15px;
      @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
      }
      &[type=checkbox]{
        margin-left: 5%;
        width: auto;
        @media (max-width: 768px) {
          margin-left: 0;
        }
      }
    }
  }
  .uk-form-width-large {
    width: 350px;
  }
}


//Модуль отзывов
section#reviews{
  a.uk-slidenav {
    display: block;
    color: #b5b5b5;
    &.uk-slidenav-next {
      right: -80px;
    }
    &.uk-slidenav-previous {
      left: -100px;
    }
  }
  .uk-dotnav{
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .uk-dotnav>*>*{
    width: 10px;
    height: 10px;
  }
  .uk-push-1-5{
    @media (max-width: 767px){
      margin-left: 11%;
    }
  }
  p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;

    &.uk-h2{
      color: $main_color;
      font-size: 55px;
      line-height: 65px;
      font-weight: 800;
      margin-bottom: 40px;

      @media (max-width: 1199px){
        font-size: 50px;
        line-height: 58px;
      }

      @media (max-width: 1024px){
        font-size: 30px;
        line-height: 36px;
      }

      @media (max-width: 479px){
        font-size: 39px;
        line-height: 45px;
      }

      i{
        color: #E2000F;
        font-style: normal;
      }
    }
  }
  i{
    font-style: italic;
  }
  #reviews-grid.no-action{
    > li{
      display: block !important;
    }
  }
  a.uk-slidenav {
    text-decoration: none;
  }
}

.uk-button.uk-button-primary.uk-button-large {
  background-color: red;
  background-image: none;
  border-radius: 0;
}

.larrock-block-blok_na_glavnoy_nad_uslugami{
  h2{
    color: $main_color;
    font-size: 55px;
    line-height: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 55px;
    @media (max-width: 414px){
      font-size: 35px;
      line-height: 40px;
    }
  }
}

@media (max-width: 425px){
  li.uslugi-list{
    margin-bottom: 30px;
  }
}

.list-images{
  @media (max-width: 425px){
    margin-top: 55px;
  }
  .list-images-item{
    margin-bottom: 35px;
    text-align: right;
    display: block;
    em{
      color: black;
    }
    img{
      max-width: 340px;
    }
  }
}
.pageFeedItem{
  .form-in-feed{
    margin-top: 85px;
    input#form-contact-date {
      width: 115px !important;
    }
  }
  #form-zapis{
    margin-left: 20px;
  }
  p.uk-h3{
    padding-bottom: 25px;
    margin-top: 20px;
    font-size: 30px;
  }
  strong{
    color: red;
    text-transform: uppercase;
  }
}

@import "./sections/header";
@import "./sections/footer";

@import "./modules/menu";
@import "./modules/seofish";
@import "./modules/breadcrumbs";

@import "./plugins/gallery";
@import "./plugins/upload";

@import "./pages/auth";