footer{
  > .uk-container-center{
    background: url('/_assets/_front/_images/bg/bg_footer.png') no-repeat left top;
    color: #fff;
    min-height: 375px;
    @media (max-width: 768px) {
      background: $main_color;
    }
  }
  .larrock-block-tekst_v_podvale{
    padding-top: 80px;
    @media (max-width: 768px) {
      padding-top: 40px;
    }
  }

  a {
    color: white;
  }

  .footer-copyright{
    padding-top: 15px;
    padding-right: 50px;
    @media (max-width: 425px) {
      padding-right: 0;
    }

    a {
      font-size: 14px;
      font-weight: 300;
      color: white;
    }
  }
  @media (max-width: 425px) {
    .uk-push-1-2.uk-width-1-2{
      left: 0;
      width: 100%;
    }
  }
}