.block-seofish{
  h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 25px;
  }
  h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
  .block-seofish-item {
    margin-bottom: 40px;
    @include list-mart;
    ul, p, a{
      font-size: 15px;
      line-height: 23px;
    }
  }
  .first-coloumn{
    > div{
      padding-right: 10px;
    }
  }
  .second-coloumn{
    > div{
      padding-left: 10px;
    }
  }
}